[Unit]
Description = autopush_Work
After = network.target

[Service]
Type=simple
ExecStart = /usr/bin/bash /etc/systemd/system/autopush.sh
WorkingDirectory = /home/luo/Work
Restart = always
RestartSec = 5
User=luo

[Install]
WantedBy=multi-user.target
