[Unit]
Description = autopush_Temp
After = network.target

[Service]
Type=simple
ExecStart = autopush
WorkingDirectory = /home/luo/Temp
Restart = always
RestartSec = 5

[Install]
WantedBy=multi-user.target
