[Unit]
Description = autopush_Temp
After = network.target

[Service]
Type=simple
ExecStart = /usr/bin/bash /etc/systemd/system/autopush.sh
WorkingDirectory = /home/luo/Temp
Restart = always
RestartSec = 5
User=luo

[Install]
WantedBy=multi-user.target
