[Unit]
Description = autopush_Work
After = network.target

[Service]
Type=simple
ExecStart = autopush
WorkingDirectory = /home/luo/Work
Restart = always
RestartSec = 5

[Install]
WantedBy=multi-user.target
