[Unit]
Description = cpolar
After = network.target

[Service]
Type=simple
ExecStart = cpolar tcp 22
WorkingDirectory = /home/luo/Work
Restart = always
RestartSec = 5

[Install]
WantedBy=multi-user.target
