[Unit]
Description = frps
After = network.target

[Service]
Type=simple
ExecStart = /home/luo/Work/Frp/frps -c /home/luo/Work/Frp/frps.ini
WorkingDirectory = /home/luo/Work/Frp
Restart = always
RestartSec = 5
User=root

[Install]
WantedBy=multi-user.target
