[Unit]
Description = screen
After = network.target

[Service]
Type=simple
ExecStart = /usr/bin/python3 -B /home/luo/Work/Always/Screen.py
WorkingDirectory = /home/luo/Work
Restart = always
RestartSec = 5
User=luo

[Install]
WantedBy=multi-user.target
